.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
      border-width: 2px; /* Adjust border width as needed */
  border-style: solid;
  /* Apply gradient border */
  border-image: linear-gradient(to right, #76eec6, #00bfff);
  /* Ensure the gradient fills the border area */
  border-image-slice: 1;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 20px;
    margin-bottom: 335px;
  }
  h2{
    color:  rgb(6, 69, 120);
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:  rgb(3 37 65);
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color:rgb(7, 72, 125);
  }
  
  .error-message {
    color: red;
  }
  
  .is-invalid {
    border-color: red;
  }